---
---

@import "{{ site.theme }}";

figcaption {
    font-size: 75%;
    text-align: center;
    padding: 0.5em;
 }

img {
    border: 1px solid #ddd;
    border-radius: 0.25em;
    padding: 0.35em;
}

li {
    padding-left: 22px ;
    text-indent: -22px ;
}

ul {
    list-style-type: none;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.works_cited {
    text-align: center;
}

