---
---

@import "{{ site.theme }}";

img {
    border: 1px solid #ddd;
    border-radius: 0.25em;
    padding: 0.35em;
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
}


figcaption {
  font-size: 75%;
  text-align: center;
}
